<!DOCTYPE html>
<html>
<head>
<title>My Zodiac</title>
<script src="/static/jquery.js"></script>
<script src="/static/main.js"></script>
</head>

<body>
<div style = "background-image: url('/static/zodiac_website_pic2.jpg');position: absolute;top:0;width:100%;left:0;height:100%;">
<h1 style="text-align:center;color:rgb(92, 203, 255)">Get your zodiac information  </h1>

<h2 style="text-align:center;color:rgb(92, 203, 255)">Enter your birth date (mm/dd): <input id="nameInput"> <button id="btn">Click</button></h2> 
<h2 style="text-align:center;color:rgb(92, 203, 255);" id="results"></h2>
</div>
</body>

</html>